In [1]:
import pandas as pd
import numpy as np
from glob import glob
from dateutil.relativedelta import relativedelta ,TH
from datetime import datetime
import warnings
from ast import literal_eval
warnings.filterwarnings('ignore')

In [2]:
data_path = glob(r'D:\option_data\data/*')

In [3]:
data_path

['D:\\option_data\\data\\contract.txt',
 'D:\\option_data\\data\\data_frame',
 'D:\\option_data\\data\\option_data.txt',
 'D:\\option_data\\data\\option_data_091453.txt',
 'D:\\option_data\\data\\token_details']

In [4]:
df = pd.read_csv(data_path[3], nrows=10000,header = None)

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,Received from ws://192.168.100.210:8765: [{'sy...,'timestamp': '2023-12-01 08:00:33','time_entry': '2023-12-01 09:14:56','volume': 21850,'open': 200.0,'high': 200.0,'low': 200.0,'prev-close': 200.0,'ltp': 200.0,'atp': 200.0,...,'ask3': 0,'ask_price_3': 0.0,'bid4': 0,'bid_price_4': 0.0,'ask4': 0,'ask_price_4': 0.0,'bid5': 0,'bid_price_5': 0.0,'ask5': 0,'ask_price_5': 21850}]
1,Received from ws://192.168.100.210:8765: [{'sy...,'timestamp': '2023-12-01 08:15:34','time_entry': '2023-12-01 09:14:56','volume': 22800,'open': 200.0,'high': 200.0,'low': 200.0,'prev-close': 200.0,'ltp': 200.0,'atp': 200.0,...,'ask3': 0,'ask_price_3': 0.0,'bid4': 0,'bid_price_4': 0.0,'ask4': 0,'ask_price_4': 0.0,'bid5': 0,'bid_price_5': 200.0,'ask5': 0,'ask_price_5': 22800}]
2,Received from ws://192.168.100.210:8765: [{'sy...,'timestamp': '2023-12-01 08:00:34','time_entry': '2023-12-01 09:14:56','volume': 21850,'open': 200.0,'high': 200.0,'low': 200.0,'prev-close': 200.0,'ltp': 200.0,'atp': 200.0,...,'ask3': 0,'ask_price_3': 0.0,'bid4': 0,'bid_price_4': 0.0,'ask4': 0,'ask_price_4': 0.0,'bid5': 0,'bid_price_5': 0.0,'ask5': 0,'ask_price_5': 21850}]
3,Received from ws://192.168.100.210:8765: [{'sy...,'timestamp': '2023-12-01 08:15:35','time_entry': '2023-12-01 09:14:56','volume': 22800,'open': 200.0,'high': 200.0,'low': 200.0,'prev-close': 200.0,'ltp': 200.0,'atp': 200.0,...,'ask3': 0,'ask_price_3': 0.0,'bid4': 0,'bid_price_4': 0.0,'ask4': 0,'ask_price_4': 0.0,'bid5': 0,'bid_price_5': 0.0,'ask5': 0,'ask_price_5': 22800}]
4,Received from ws://192.168.100.210:8765: [{'sy...,'timestamp': '2023-12-01 08:00:35','time_entry': '2023-12-01 09:14:56','volume': 21850,'open': 200.0,'high': 200.0,'low': 200.0,'prev-close': 200.0,'ltp': 200.0,'atp': 200.0,...,'ask3': 0,'ask_price_3': 0.0,'bid4': 0,'bid_price_4': 0.0,'ask4': 0,'ask_price_4': 0.0,'bid5': 0,'bid_price_5': 0.0,'ask5': 0,'ask_price_5': 21850}]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Received from ws://192.168.100.210:8765: [{'sy...,'timestamp': '2023-12-01 09:15:02','time_entry': '2023-12-01 09:15:03','volume': 6300,'open': 70.0,'high': 82.0,'low': 70.0,'prev-close': 51.2,'ltp': 78.15,'atp': 76.36,...,'ask3': 1500,'ask_price_3': 89.85,'bid4': 300,'bid_price_4': 67.0,'ask4': 300,'ask_price_4': 90.0,'bid5': 300,'bid_price_5': 74.9,'ask5': 600,'ask_price_5': 6300}]
9996,Received from ws://192.168.100.210:8765: [{'sy...,'timestamp': '2023-11-30 15:27:00','time_entry': '2023-12-01 09:15:03','volume': 0,'open': 0.0,'high': 0.0,'low': 0.0,'prev-close': 347.55,'ltp': 347.35,'atp': 0.0,...,'ask3': 0,'ask_price_3': 0.0,'bid4': 0,'bid_price_4': 0.0,'ask4': 0,'ask_price_4': 0.0,'bid5': 0,'bid_price_5': 295.75,'ask5': 0,'ask_price_5': 0}]
9997,Received from ws://192.168.100.210:8765: [{'sy...,'timestamp': '2023-11-30 15:29:57','time_entry': '2023-12-01 09:15:03','volume': 0,'open': 0.0,'high': 0.0,'low': 0.0,'prev-close': 28.95,'ltp': 26.05,'atp': 0.0,...,'ask3': 300,'ask_price_3': 50.0,'bid4': 2400,'bid_price_4': 29.65,'ask4': 300,'ask_price_4': 70.35,'bid5': 300,'bid_price_5': 48.9,'ask5': 2400,'ask_price_5': 0}]
9998,Received from ws://192.168.100.210:8765: [{'sy...,'timestamp': '2023-12-01 09:15:03','time_entry': '2023-12-01 09:15:03','volume': 1800,'open': 35.1,'high': 35.15,'low': 35.1,'prev-close': 24.6,'ltp': 35.1,'atp': 35.1,...,'ask3': 300,'ask_price_3': 39.8,'bid4': 2700,'bid_price_4': 30.1,'ask4': 300,'ask_price_4': 40.0,'bid5': 600,'bid_price_5': 37.4,'ask5': 300,'ask_price_5': 1800}]
9999,Received from ws://192.168.100.210:8765: [{'sy...,'timestamp': '1980-01-01 00:00:00','time_entry': '2023-12-01 09:15:03','volume': 0,'open': 0.0,'high': 0.0,'low': 0.0,'prev-close': 961.4,'ltp': 0.0,'atp': 0.0,...,'ask3': 0,'ask_price_3': 0.0,'bid4': 0,'bid_price_4': 0.0,'ask4': 0,'ask_price_4': 0.0,'bid5': 0,'bid_price_5': 549.75,'ask5': 0,'ask_price_5': 0}]

In [6]:
data = df.drop(df.columns[10:] , axis=1)

In [7]:
data.rename(columns = {0: 'token_number' , 1: 'timestamp' , 2: 'time_entry' , 3: 'volume' , 4 : 'open' , 5: 'high' , 6:'low' , 7:'prev-close' , 8:'ltp' ,9:'atp'} , inplace=True)

In [8]:
data['token_number'] = data['token_number'].apply(lambda x: x.split(':')[-1])

In [9]:
data['token_number']=data['token_number'].apply(lambda x: x[2:].strip(" '"))

In [10]:
data['timestamp'] = data['timestamp'].apply(lambda x: x.split('p')[1])

In [11]:
data['timestamp'] = data['timestamp'].apply(lambda x: x[2:].strip(" '"))

In [12]:
data['time_entry'] = data['time_entry'].apply(lambda x: x.split('y')[-1])

In [13]:
data['time_entry'] = data['time_entry'].apply(lambda x: x[2:].strip(" '"))

In [14]:
data.to_csv('option_data' , index = False)

In [15]:
data['volume'] = data['volume'].apply(lambda x: x.split(':')[-1])

In [16]:
data['open'] = data['open'].apply(lambda x: x.split(':')[-1])

In [17]:
data['high'] = data['high'].apply(lambda x: x.split(':')[-1])

In [18]:
data['low'] = data['low'].apply(lambda x: x.split(':')[-1])
data['prev-close'] = data['prev-close'].apply(lambda x: x.split(':')[-1])
data['ltp'] = data['ltp'].apply(lambda x: x.split(':')[-1])
data['atp'] = data['atp'].apply(lambda x: x.split(':')[-1])

In [19]:
for value in data.columns:
    print(f'columns name:- {value}')
    print('*******************')
    print(data[value].unique())
    print('-------------------------------------------------------------------')

columns name:- token_number
*******************
['36687' '36690' '36691' ... '71898' '12116' '12912']
-------------------------------------------------------------------
columns name:- timestamp
*******************
['2023-12-01 08:00:33' '2023-12-01 08:15:34' '2023-12-01 08:00:34' ...
 '2023-11-30 14:16:10' '2023-11-30 11:47:59' '2023-11-30 15:17:54']
-------------------------------------------------------------------
columns name:- time_entry
*******************
['2023-12-01 09:14:56' '2023-12-01 09:15:00' '2023-12-01 09:15:01'
 '2023-12-01 09:15:02' '2023-12-01 09:15:03']
-------------------------------------------------------------------
columns name:- volume
*******************
[' 21850' ' 22800' ' 22250' ' 22500' ' 22400' ' 22100' ' 23200' ' 23750'
 ' 23450' ' 23050' ' 23350' ' 0' ' 150' ' 650' ' 550' ' 75' ' 30' ' 45'
 ' 135' ' 15' ' 300' ' 60' ' 360' ' 1335' ' 240' ' 90' ' 105' ' 945'
 ' 255' ' 50' ' 2000' ' 2100' ' 1800' ' 100' ' 3600' ' 525' ' 750' ' 1250'
 ' 320' ' 12000' ' 7750' ' 10260' ' 975' ' 2985' ' 800' ' 2350' ' 250'
 ' 2200' ' 5600' ' 72000' ' 200' ' 1905' ' 1395' ' 39900' ' 900' ' 660'
 ' 6650' ' 350' ' 1850' ' 2600' ' 2150' ' 3350' ' 440' ' 400' ' 40' ' 520'
 ' 1000' ' 500' ' 1900' ' 3500' ' 2400' ' 450' ' 4050' ' 2500' ' 2850'
 ' 4000' ' 4250' ' 2800' ' 280' ' 1100' ' 1650' ' 1500' ' 26500' ' 26950'
 ' 39000' ' 600' ' 3900' ' 700' ' 1600' ' 1200' ' 285' ' 210' ' 3270'
 ' 195' ' 1110' ' 2310' ' 5700' ' 5000' ' 950' ' 45000' ' 1225' ' 825'
 ' 9150' ' 175' ' 10000' ' 870' ' 690' ' 855' ' 3480' ' 270' ' 375' ' 510'
 ' 6450' ' 5355' ' 8685' ' 4350' ' 840' ' 1170' ' 11250' ' 1400' ' 1950'
 ' 3050' ' 4850' ' 3450' ' 3300' ' 3750' ' 4300' ' 2450' ' 4950' ' 3720'
 ' 1280' ' 760' ' 1240' ' 80' ' 960' ' 2440' ' 120' ' 720' ' 560' ' 680'
 ' 480' ' 1875' ' 1050' ' 405' ' 225' ' 160000' ' 87750' ' 675' ' 1350'
 ' 8250' ' 1575' ' 320000' ' 1600000' ' 400000' ' 7500' ' 15000' ' 3400'
 ' 315' ' 13400' ' 3375' ' 11000' ' 5400' ' 2750' ' 28000' ' 33600'
 ' 204000' ' 226800' ' 125' ' 4500' ' 24000' ' 24750' ' 8700' ' 16100'
 ' 14400' ' 18000' ' 4550' ' 5100' ' 11400' ' 4462' ' 2950' ' 4150'
 ' 3420' ' 180' ' 990' ' 540' ' 1425' ' 420' ' 2475' ' 4770' ' 8325'
 ' 3850' ' 9000' ' 17100' ' 34200' ' 15750' ' 3125' ' 625' ' 5250' ' 725'
 ' 2925' ' 3000' ' 930' ' 5325' ' 14000' ' 8924' ' 108300' ' 11700'
 ' 4200' ' 2120' ' 4360' ' 27450' ' 7200' ' 4800' ' 880' ' 160' ' 3560'
 ' 2280' ' 1300' ' 8565' ' 2025' ' 1125' ' 6000' ' 9750' ' 875' ' 4485'
 ' 1725' ' 11280' ' 4635' ' 3045' ' 2010' ' 1750' ' 8900' ' 3800' ' 3330'
 ' 80000' ' 8100' ' 25200' ' 117600' ' 19035' ' 4305' ' 33000' ' 46500'
 ' 6750' ' 2175' ' 23500' ' 53200' ' 22000' ' 47400' ' 26050' ' 26650'
 ' 37100' ' 96000' ' 333200' ' 1680' ' 920' ' 2700' ' 8050' ' 4100'
 ' 4750' ' 11150' ' 2250' ' 3120' ' 68900' ' 6900' ' 4400' ' 1560' ' 915'
 ' 3765' ' 630' ' 1155' ' 5310' ' 2160' ' 1890' ' 645' ' 5085' ' 810'
 ' 18900' ' 10500' ' 29700' ' 81000' ' 21000' ' 26250' ' 20000' ' 1450'
 ' 1665' ' 12495' ' 3250' ' 1925' ' 2300' ' 56250' ' 5760' ' 4240' ' 2680'
 ' 7800' ' 13600' ' 36000' ' 6320' ' 8200' ' 3880' ' 4440' ' 5880' ' 1040'
 ' 82350' ' 12600' ' 50000' ' 5300' ' 2625' ' 3225' ' 3825' ' 1375'
 ' 9345' ' 5800' ' 18125' ' 31000' ' 8000' ' 407' ' 5130' ' 1700' ' 3690'
 ' 1455' ' 21500' ' 7575' ' 260100' ' 56000' ' 4070' ' 18050' ' 40900'
 ' 1150' ' 9050' ' 6375' ' 3150' ' 10650' ' 2360' ' 5350' ' 15600' ' 5200'
 ' 3950' ' 4230' ' 795' ' 780' ' 6675' ' 2835' ' 2595' ' 6840' ' 7050'
 ' 79500' ' 38500' ' 7700' ' 15400' ' 6300']
-------------------------------------------------------------------
columns name:- open
*******************
[' 200.0' ' 0.0' ' 154.25' ' 26.5' ' 15.0' ' 2.4' ' 18.35' ' 44.45'
 ' 50.0' ' 140.6' ' 195.15' ' 269.0' ' 35.1' ' 791.0' ' 493.95' ' 393.0'
 ' 237.1' ' 164.4' ' 107.35' ' 92.0' ' 64.9' ' 34.7' ' 18.9' ' 13.1'
 ' 9.25' ' 7.25' ' 600.0' ' 61.5' ' 94.0' ' 203.55' ' 131.45' ' 44.2'
 ' 8.0' ' 2.7' ' 130.25' ' 87.4' ' 45.15' ' 4.9' ' 20.0' ' 111.0' ' 78.5'
 ' 2.3' ' 160.55' ' 13.0' ' 3919.95' ' 518.45' ' 290.05' ' 105.0' ' 15.9'
 ' 3.2' ' 3.15' ' 51.0' ' 6.6' ' 190.25' ' 169.05' ' 410.45' ' 20428.05'
 ' 120.0' ' 485.2' ' 15.5' ' 167.0' ' 40.0' ' 185.0' ' 5.8' ' 42.0'
 ' 147.85' ' 2396.0' ' 381.0' ' 188.1' ' 116.2' ' 26.0' ' 230.45' ' 36.1'
 ' 1.1' ' 0.05' ' 11.1' ' 153.45' ' 177.2' ' 211.95' ' 180.9' ' 235.55'
 ' 153.55' ' 111.95' ' 79.05' ' 66.0' ' 55.05' ' 2.55' ' 2.9' ' 4.4'
 ' 7.15' ' 150.0' ' 160.5' ' 321.0' ' 194.55' ' 310.0' ' 1135.0' ' 152.2'
 ' 185.6' ' 225.25' ' 247.15' ' 189.85' ' 144.95' ' 108.35' ' 234.0'
 ' 91.8' ' 66.1' ' 243.0' ' 47.0' ' 330.0' ' 300.6' ' 162.9' ' 24.1'
 ' 325.0' ' 92.9' ' 221.45' ' 346.1' ' 74.0' ' 274.95' ' 29.0' ' 11.55'
 ' 17.4' ' 8.25' ' 176.7' ' 197.05' ' 222.0' ' 38.05' ' 70.0' ' 100.0'
 ' 259.0' ' 130.0' ' 1770.4' ' 2472.7' ' 3882.95' ' 1420.0' ' 1566.05'
 ' 747.9' ' 142.15' ' 2565.05' ' 90.1' ' 5.5' ' 9.1' ' 23.15' ' 36.0'
 ' 149.0' ' 1133.5' ' 638.95' ' 149.6' ' 4.95' ' 499.15' ' 10.1' ' 11.35'
 ' 32.5' ' 22.4' ' 21.55' ' 12.9' ' 8.3' ' 433.0' ' 61.1' ' 442.15'
 ' 5609.0' ' 1687.6' ' 3201.25' ' 5.3' ' 267.4' ' 2402.15' ' 1078.0'
 ' 234.55' ' 352.0' ' 134.65' ' 7.8' ' 9.35' ' 14.0' ' 15.05' ' 18.0'
 ' 26.3' ' 37.0' ' 48.0' ' 52.0' ' 90.0' ' 110.95' ' 162.1' ' 218.15'
 ' 350.0' ' 330.45' ' 99.85' ' 620.0' ' 1.8' ' 4.3' ' 11.95' ' 53.15'
 ' 70.95' ' 324.2' ' 301.75' ' 107.7' ' 283.2' ' 123.7' ' 220.6' ' 141.45'
 ' 190.8' ' 161.0' ' 160.2' ' 183.65' ' 132.2' ' 108.25' ' 70.85' ' 56.8'
 ' 35.4' ' 6.05' ' 3.1' ' 2.0' ' 1.75' ' 1.6' ' 1.55' ' 0.8' ' 0.75'
 ' 19.0' ' 13.5' ' 165.0' ' 168.7' ' 103.15' ' 60.9' ' 48.3' ' 28.15'
 ' 16.6' ' 7.75' ' 368.15' ' 327.8' ' 2.45' ' 5.0' ' 3.9' ' 4.75' ' 304.5'
 ' 648.35' ' 45293.1' ' 14.45' ' 24.05' ' 767.2' ' 45004.3' ' 13.45'
 ' 413.6' ' 112.75' ' 21.0' ' 497.45' ' 648.0' ' 8.8' ' 280.5' ' 544.5'
 ' 342.3' ' 44522.35' ' 793.0' ' 54.95' ' 33.2' ' 299.0' ' 32.15' ' 23.75'
 ' 0.6' ' 0.4' ' 0.25' ' 2.75' ' 0.1' ' 8.1' ' 240.0' ' 6.2' ' 4.55'
 ' 32.0' ' 99.2' ' 3.05' ' 4.0' ' 12.5' ' 408.95' ' 79.25' ' 4.1'
 ' 3832.0' ' 210.1' ' 85.0' ' 809.05' ' 10.5' ' 5864.1' ' 108.0' ' 270.9'
 ' 337.95' ' 183.25' ' 165.5' ' 263.8' ' 60.6' ' 60.0' ' 110.0' ' 8.2'
 ' 1.45' ' 1.4' ' 1.3' ' 1.15' ' 18.5' ' 16.9' ' 3.8' ' 9.0' ' 33.35'
 ' 101.1' ' 56.45' ' 29.1' ' 5.2' ' 560.8' ' 190.0' ' 49.75' ' 17.0'
 ' 8.15' ' 11.9' ' 64.95' ' 94.05' ' 570.0' ' 2.5' ' 6.15' ' 6.1' ' 2.2'
 ' 6.0' ' 83.6' ' 99.95' ' 5.9' ' 8.85' ' 6.4' ' 4.5' ' 35.05' ' 23.45'
 ' 178.7' ' 4.25' ' 27.0' ' 20.5' ' 4.6' ' 86.0' ' 25.0' ' 70.05' ' 30.0'
 ' 57.5' ' 45.7' ' 36.05' ' 3.85' ' 431.15' ' 149.8' ' 14.15' ' 199.55'
 ' 7200.05' ' 35.0' ' 238.75' ' 184.0' ' 836.65' ' 220.0' ' 850.0'
 ' 296.15' ' 249.8' ' 6.95' ' 17.55' ' 1121.0' ' 477.45' ' 20.4' ' 10.4'
 ' 426.0' ' 28.0' ' 22.45' ' 8.9' ' 84.95' ' 710.1' ' 61.45' ' 1.85'
 ' 13.55' ' 750.0' ' 28.5' ' 11.7' ' 45.0' ' 207.75' ' 0.15' ' 1.2'
 ' 1135.05' ' 9.15' ' 1.35' ' 255.6' ' 129.45' ' 338.0' ' 709.45' ' 272.0'
 ' 64.0' ' 762.05' ' 475.75' ' 423.95' ' 220.05' ' 59.75' ' 49.05' ' 1.05'
 ' 10.7' ' 12.0' ' 0.5' ' 46.0' ' 345.2' ' 26.95' ' 46.5' ' 295.55'
 ' 31.4' ' 0.65' ' 24.3' ' 140.0' ' 126.9' ' 18.75' ' 854.95' ' 118.5'
 ' 203.65' ' 13.7' ' 20292.9' ' 80.0' ' 696.75' ' 26940.0' ' 441.35'
 ' 66.9' ' 7.2' ' 416.75' ' 25.2' ' 24.0' ' 349.9' ' 7.45' ' 43.0' ' 2.95'
 ' 13.25' ' 36.6' ' 4.7' ' 2.15' ' 32.95' ' 14.2' ' 5.55' ' 10.05'
 ' 6124.9' ' 4813.0' ' 16.95' ' 2.65' ' 236.85' ' 11.2' ' 7.0' ' 60.15'
 ' 95.0' ' 660.0' ' 7.85' ' 3.5' ' 199.0' ' 4.85' ' 46.55' ' 1.95' ' 43.9'
 ' 73.4' ' 390.95' ' 417.4' ' 8.95' ' 186.65' ' 22.1' ' 20.35' ' 0.35'
 ' 78.75' ' 1735.25' ' 42.95' ' 67.0' ' 715.6' ' 205.55' ' 1710.0'
 ' 182.0' ' 5.95' ' 56.5' ' 61.0' ' 280.8' ' 41.0' ' 124.05' ' 45.05'
 ' 399.0' ' 86.3' ' 111.25' ' 3.6' ' 6.25' ' 6.3' ' 348.2' ' 25.05'
 ' 522.1' ' 573.0' ' 1452.4']
-------------------------------------------------------------------
columns name:- high
*******************
[' 200.0' ' 0.0' ' 154.25' ' 34.5' ' 15.0' ' 2.4' ' 18.35' ' 44.45'
 ' 50.0' ' 140.6' ' 195.15' ' 269.0' ' 35.1' ' 791.0' ' 493.95' ' 393.0'
 ' 240.9' ' 164.4' ' 107.35' ' 92.0' ' 64.9' ' 34.7' ' 18.9' ' 13.1'
 ' 9.5' ' 7.25' ' 600.0' ' 61.5' ' 94.0' ' 204.1' ' 131.8' ' 44.3' ' 8.0'
 ' 2.7' ' 132.55' ' 89.05' ' 45.25' ' 4.9' ' 28.2' ' 111.0' ' 78.5' ' 2.3'
 ' 160.55' ' 13.25' ' 3920.0' ' 518.45' ' 355.0' ' 105.0' ' 15.9' ' 3.2'
 ' 3.15' ' 53.0' ' 7.55' ' 190.25' ' 169.95' ' 410.45' ' 20428.05'
 ' 138.0' ' 485.2' ' 15.5' ' 167.1' ' 40.0' ' 535.8' ' 185.0' ' 5.8'
 ' 42.0' ' 148.65' ' 2398.6' ' 394.0' ' 188.1' ' 117.15' ' 26.0' ' 230.45'
 ' 36.1' ' 1.1' ' 0.05' ' 11.1' ' 153.45' ' 177.2' ' 211.95' ' 180.9'
 ' 235.55' ' 154.1' ' 142.2' ' 115.2' ' 142.0' ' 79.15' ' 66.05' ' 55.25'
 ' 2.55' ' 2.9' ' 4.4' ' 7.15' ' 150.0' ' 160.5' ' 321.0' ' 194.55'
 ' 310.0' ' 1135.0' ' 152.2' ' 191.3' ' 225.95' ' 247.15' ' 190.35'
 ' 145.5' ' 111.3' ' 234.0' ' 94.9' ' 69.95' ' 243.0' ' 47.1' ' 330.0'
 ' 300.6' ' 24.1' ' 325.0' ' 98.1' ' 265.75' ' 346.1' ' 74.0' ' 274.95'
 ' 29.0' ' 11.55' ' 17.4' ' 8.25' ' 177.05' ' 197.05' ' 222.0' ' 38.05'
 ' 70.0' ' 100.0' ' 259.0' ' 1770.4' ' 2491.95' ' 3883.0' ' 1420.0'
 ' 1566.05' ' 747.95' ' 163.5' ' 2565.05' ' 117.35' ' 5.5' ' 9.1' ' 23.15'
 ' 36.0' ' 149.0' ' 1137.2' ' 638.95' ' 149.6' ' 5.15' ' 499.2' ' 10.1'
 ' 11.35' ' 32.5' ' 22.4' ' 21.55' ' 12.9' ' 8.3' ' 433.0' ' 442.15'
 ' 5632.15' ' 1687.6' ' 3201.25' ' 267.4' ' 2402.15' ' 1082.1' ' 234.75'
 ' 353.0' ' 134.65' ' 7.8' ' 9.35' ' 14.0' ' 15.15' ' 19.25' ' 26.5'
 ' 37.0' ' 48.0' ' 59.45' ' 90.0' ' 123.35' ' 168.7' ' 231.6' ' 350.05'
 ' 394.3' ' 99.85' ' 620.0' ' 1.8' ' 4.3' ' 11.95' ' 53.15' ' 71.25'
 ' 324.2' ' 301.75' ' 107.7' ' 283.2' ' 123.75' ' 245.1' ' 142.05'
 ' 217.9' ' 162.65' ' 160.2' ' 184.0' ' 132.2' ' 108.25' ' 115.75' ' 71.1'
 ' 60.4' ' 35.5' ' 12.0' ' 4.8' ' 3.3' ' 2.0' ' 1.6' ' 1.55' ' 0.8'
 ' 0.75' ' 20.9' ' 13.65' ' 165.0' ' 103.15' ' 62.65' ' 48.3' ' 28.15'
 ' 16.6' ' 8.35' ' 368.15' ' 327.8' ' 2.45' ' 5.0' ' 3.9' ' 4.75' ' 304.5'
 ' 648.35' ' 45293.1' ' 14.45' ' 24.05' ' 767.2' ' 45004.3' ' 13.45'
 ' 413.6' ' 113.55' ' 21.0' ' 497.45' ' 648.0' ' 8.8' ' 282.05' ' 544.5'
 ' 342.3' ' 44850.0' ' 793.0' ' 55.0' ' 35.95' ' 347.1' ' 23.75' ' 13.5'
 ' 0.6' ' 0.4' ' 0.25' ' 2.75' ' 0.1' ' 8.1' ' 250.0' ' 3.25' ' 6.2'
 ' 7.05' ' 32.0' ' 109.85' ' 3.05' ' 4.05' ' 12.5' ' 408.95' ' 79.55'
 ' 4.95' ' 3832.0' ' 210.55' ' 85.0' ' 809.05' ' 10.5' ' 5864.1' ' 114.2'
 ' 270.9' ' 388.75' ' 183.25' ' 165.5' ' 263.8' ' 66.6' ' 60.0' ' 265.0'
 ' 158.0' ' 123.1' ' 14.4' ' 9.55' ' 1.4' ' 1.3' ' 1.15' ' 1.35' ' 18.5'
 ' 16.9' ' 3.8' ' 9.0' ' 33.35' ' 101.1' ' 157.4' ' 56.55' ' 89.95'
 ' 29.5' ' 7.2' ' 7.6' ' 70.05' ' 5.75' ' 560.8' ' 190.0' ' 49.75'
 ' 29.75' ' 17.0' ' 4.0' ' 6.0' ' 8.15' ' 10.95' ' 11.9' ' 53.2' ' 65.0'
 ' 97.8' ' 144.9' ' 197.65' ' 1566.2' ' 570.0' ' 16.95' ' 2.5' ' 6.6'
 ' 6.15' ' 6.1' ' 2.25' ' 2.2' ' 83.6' ' 5.9' ' 8.85' ' 6.4' ' 4.5'
 ' 35.05' ' 25.0' ' 178.7' ' 4.25' ' 27.0' ' 20.5' ' 4.6' ' 86.0' ' 30.0'
 ' 58.05' ' 46.55' ' 36.05' ' 12.95' ' 3.85' ' 431.15' ' 149.9' ' 14.15'
 ' 3203.7' ' 7200.05' ' 35.0' ' 443.85' ' 238.75' ' 184.1' ' 837.65'
 ' 188.0' ' 231.1' ' 10.7' ' 850.0' ' 296.15' ' 249.8' ' 6.95' ' 17.55'
 ' 1154.65' ' 479.85' ' 20.4' ' 12.4' ' 426.65' ' 28.0' ' 22.5' ' 8.9'
 ' 84.95' ' 710.1' ' 61.45' ' 1.85' ' 13.55' ' 779.95' ' 28.6' ' 19.55'
 ' 9.6' ' 3.4' ' 45.0' ' 212.05' ' 0.15' ' 1.2' ' 1135.1' ' 9.15' ' 7.0'
 ' 405.0' ' 11.15' ' 5.55' ' 436.35' ' 263.55' ' 129.5' ' 339.85' ' 710.8'
 ' 272.0' ' 64.05' ' 765.0' ' 475.75' ' 423.95' ' 227.35' ' 125.0'
 ' 102.0' ' 59.75' ' 49.05' ' 14.7' ' 3.0' ' 1.05' ' 167.45' ' 150.8'
 ' 0.5' ' 46.0' ' 345.2' ' 29.9' ' 46.5' ' 295.55' ' 31.4' ' 0.65' ' 24.6'
 ' 145.8' ' 153.8' ' 138.05' ' 18.95' ' 110.45' ' 855.0' ' 120.0' ' 208.0'
 ' 20319.85' ' 382.55' ' 449.85' ' 696.75' ' 26940.0' ' 441.35' ' 66.9'
 ' 18.0' ' 17.45' ' 438.8' ' 25.2' ' 24.0' ' 3885.1' ' 351.85' ' 7.45'
 ' 43.0' ' 2.95' ' 36.6' ' 4.7' ' 4.35' ' 2.15' ' 33.0' ' 14.2' ' 12.7'
 ' 47.15' ' 8.05' ' 3949.5' ' 6125.0' ' 4813.0' ' 2.65' ' 236.85'
 ' 165.05' ' 11.2' ' 840.0' ' 353.15' ' 29.45' ' 134.7' ' 443.9' ' 184.25'
 ' 72.65' ' 89.15' ' 95.0' ' 660.0' ' 656.85' ' 313.9' ' 45082.95' ' 7.85'
 ' 1140.85' ' 3.5' ' 230.0' ' 1.5' ' 1.95' ' 7.4' ' 45.5' ' 19.7' ' 5.4'
 ' 43.9' ' 73.6' ' 390.95' ' 417.4' ' 8.95' ' 186.65' ' 22.1' ' 0.35'
 ' 64.0' ' 78.75' ' 1741.1' ' 42.95' ' 67.0' ' 715.6' ' 205.55' ' 1725.55'
 ' 182.0' ' 5.95' ' 56.5' ' 61.0' ' 617.7' ' 302.35' ' 79.25' ' 15.1'
 ' 41.0' ' 132.25' ' 124.05' ' 85.05' ' 289.45' ' 45.05' ' 343.2'
 ' 616.65' ' 399.0' ' 20321.0' ' 124.95' ' 3.6' ' 5.05' ' 6.25' ' 6.3'
 ' 8.4' ' 350.0' ' 25.05' ' 522.1' ' 573.0' ' 1452.4' ' 13.0' ' 43.95'
 ' 82.0' ' 35.15']
-------------------------------------------------------------------
columns name:- low
*******************
[' 200.0' ' 0.0' ' 151.0' ' 26.5' ' 15.0' ' 2.4' ' 18.35' ' 40.0' ' 49.0'
 ' 140.6' ' 195.15' ' 263.65' ' 35.1' ' 791.0' ' 493.95' ' 357.9'
 ' 231.95' ' 155.15' ' 101.5' ' 80.4' ' 51.85' ' 34.7' ' 18.1' ' 12.7'
 ' 9.1' ' 7.25' ' 584.0' ' 61.5' ' 94.0' ' 203.55' ' 131.45' ' 44.2'
 ' 8.0' ' 2.7' ' 127.3' ' 87.4' ' 45.15' ' 4.0' ' 20.0' ' 81.95' ' 78.35'
 ' 2.3' ' 160.55' ' 13.0' ' 3919.95' ' 518.45' ' 279.0' ' 75.95' ' 15.15'
 ' 3.2' ' 3.15' ' 48.2' ' 6.6' ' 189.7' ' 166.6' ' 410.4' ' 20428.0'
 ' 120.0' ' 485.2' ' 166.7' ' 443.45' ' 185.0' ' 61.0' ' 5.8' ' 42.0'
 ' 147.85' ' 2396.0' ' 381.0' ' 188.1' ' 110.6' ' 26.0' ' 230.4' ' 36.1'
 ' 23.5' ' 1.1' ' 0.05' ' 11.1' ' 153.05' ' 170.2' ' 211.3' ' 178.1'
 ' 234.95' ' 153.55' ' 111.95' ' 79.05' ' 66.0' ' 55.05' ' 2.55' ' 2.9'
 ' 4.4' ' 6.05' ' 150.0' ' 160.5' ' 321.0' ' 194.55' ' 310.0' ' 1135.0'
 ' 152.0' ' 185.2' ' 223.8' ' 245.0' ' 189.85' ' 144.6' ' 108.35' ' 231.8'
 ' 91.8' ' 241.9' ' 46.85' ' 325.25' ' 300.6' ' 162.9' ' 24.1' ' 300.05'
 ' 87.6' ' 215.15' ' 340.2' ' 58.6' ' 274.95' ' 29.0' ' 17.4' ' 8.25'
 ' 176.7' ' 196.0' ' 222.0' ' 38.05' ' 70.0' ' 100.0' ' 259.0' ' 130.0'
 ' 1770.4' ' 2472.7' ' 3882.95' ' 1420.0' ' 1566.0' ' 747.9' ' 142.15'
 ' 2565.0' ' 90.1' ' 5.5' ' 13.25' ' 16.2' ' 20.25' ' 24.05' ' 31.0'
 ' 149.0' ' 1130.1' ' 638.95' ' 149.6' ' 4.95' ' 499.15' ' 10.1' ' 11.35'
 ' 32.5' ' 22.4' ' 21.55' ' 12.9' ' 8.3' ' 433.0' ' 60.35' ' 442.15'
 ' 5609.0' ' 1687.6' ' 3201.25' ' 5.3' ' 267.4' ' 2391.0' ' 1078.0'
 ' 234.55' ' 352.0' ' 134.5' ' 7.8' ' 8.45' ' 14.0' ' 13.75' ' 17.95'
 ' 21.85' ' 31.4' ' 42.25' ' 52.0' ' 71.0' ' 101.15' ' 140.2' ' 175.0'
 ' 266.15' ' 330.45' ' 99.85' ' 476.55' ' 1.8' ' 4.3' ' 11.95' ' 53.15'
 ' 70.95' ' 324.0' ' 92.55' ' 288.0' ' 107.35' ' 252.9' ' 119.05' ' 220.5'
 ' 140.3' ' 183.25' ' 157.1' ' 155.2' ' 183.3' ' 124.35' ' 107.75' ' 70.4'
 ' 56.6' ' 45.0' ' 30.9' ' 4.85' ' 4.05' ' 2.5' ' 1.35' ' 1.75' ' 1.5'
 ' 1.15' ' 0.8' ' 0.75' ' 15.7' ' 6.0' ' 139.85' ' 168.65' ' 92.2'
 ' 58.45' ' 46.0' ' 23.65' ' 10.5' ' 7.0' ' 368.15' ' 327.8' ' 2.45'
 ' 4.15' ' 3.9' ' 4.75' ' 304.5' ' 648.35' ' 45210.4' ' 14.45' ' 24.0'
 ' 767.2' ' 45004.3' ' 13.45' ' 413.6' ' 112.75' ' 12.25' ' 497.45'
 ' 648.0' ' 20.85' ' 8.8' ' 280.5' ' 544.5' ' 342.3' ' 44522.35' ' 793.0'
 ' 40.05' ' 33.15' ' 298.95' ' 32.15' ' 23.75' ' 13.5' ' 0.6' ' 0.4'
 ' 0.25' ' 2.75' ' 0.1' ' 5.0' ' 8.1' ' 240.0' ' 3.0' ' 6.2' ' 22.25'
 ' 99.05' ' 3.05' ' 12.5' ' 408.95' ' 79.25' ' 9.5' ' 3.75' ' 3832.0'
 ' 210.1' ' 85.0' ' 808.0' ' 6.4' ' 5864.1' ' 89.0' ' 270.9' ' 324.8'
 ' 165.5' ' 262.05' ' 60.55' ' 46.45' ' 136.6' ' 110.0' ' 7.7' ' 1.3'
 ' 1.05' ' 18.5' ' 16.9' ' 3.8' ' 9.0' ' 33.35' ' 101.1' ' 56.45' ' 29.1'
 ' 44.45' ' 5.15' ' 318.25' ' 560.8' ' 190.0' ' 42.1' ' 28.05' ' 16.85'
 ' 10.9' ' 2.65' ' 4.55' ' 11.2' ' 12.95' ' 14.5' ' 18.3' ' 59.9' ' 82.3'
 ' 116.05' ' 159.15' ' 569.4' ' 114.3' ' 6.15' ' 6.1' ' 4.9' ' 2.2'
 ' 32.0' ' 5.55' ' 83.6' ' 99.95' ' 5.9' ' 8.85' ' 4.5' ' 35.05' ' 23.45'
 ' 171.7' ' 4.25' ' 27.0' ' 20.5' ' 4.6' ' 86.0' ' 25.0' ' 70.05' ' 30.0'
 ' 57.5' ' 45.6' ' 35.75' ' 3.85' ' 431.15' ' 495.0' ' 149.8' ' 14.15'
 ' 147.7' ' 199.55' ' 7200.05' ' 35.0' ' 88.85' ' 138.35' ' 134.4'
 ' 238.2' ' 2394.0' ' 184.0' ' 836.65' ' 168.45' ' 220.0' ' 42.95'
 ' 850.0' ' 640.0' ' 296.15' ' 249.8' ' 1.55' ' 3.45' ' 6.95' ' 17.55'
 ' 501.05' ' 1121.0' ' 783.85' ' 477.45' ' 20.4' ' 10.4' ' 426.0' ' 28.0'
 ' 22.45' ' 8.9' ' 84.95' ' 710.1' ' 61.45' ' 1.6' ' 1.85' ' 13.55'
 ' 700.0' ' 1.25' ' 24.45' ' 15.1' ' 10.8' ' 3.4' ' 33.1' ' 207.75'
 ' 0.15' ' 1.2' ' 408.3' ' 9.15' ' 11.0' ' 2.35' ' 335.25' ' 7.65'
 ' 252.15' ' 129.25' ' 338.0' ' 709.25' ' 272.0' ' 54.6' ' 762.05'
 ' 475.75' ' 423.95' ' 176.0' ' 82.35' ' 49.7' ' 49.05' ' 2.25' ' 1.0'
 ' 10.7' ' 147.15' ' 7.05' ' 5.1' ' 0.5' ' 50.0' ' 101.0' ' 340.0' ' 22.1'
 ' 35.45' ' 295.55' ' 58.95' ' 22.0' ' 0.65' ' 2.0' ' 3.65' ' 20418.2'
 ' 139.45' ' 120.95' ' 12.0' ' 18.0' ' 854.95' ' 105.05' ' 184.5' ' 13.7'
 ' 20292.9' ' 58.2' ' 696.7' ' 26940.0' ' 441.35' ' 66.9' ' 93.95'
 ' 105.65' ' 7.2' ' 2.6' ' 21.0' ' 12.75' ' 14.3' ' 414.45' ' 25.2'
 ' 3873.15' ' 349.9' ' 258.0' ' 90.0' ' 7.45' ' 43.0' ' 2.95' ' 13.2'
 ' 36.6' ' 4.7' ' 2.15' ' 32.95' ' 5.85' ' 24.9' ' 14.2' ' 10.05' ' 25.35'
 ' 37.05' ' 3899.9' ' 6104.75' ' 4806.1' ' 21.5' ' 16.95' ' 236.85'
 ' 122.2' ' 42.65' ' 75.2' ' 22.2' ' 134.3' ' 183.9' ' 2.8' ' 40.25'
 ' 12.55' ' 95.0' ' 660.0' ' 7.85' ' 12.8' ' 3.5' ' 199.0' ' 46.55' ' 1.4'
 ' 1.95' ' 35.25' ' 12.35' ' 6.9' ' 43.9' ' 55.0' ' 390.95' ' 417.4'
 ' 8.95' ' 186.65' ' 20.35' ' 209.55' ' 0.35' ' 64.0' ' 78.55' ' 1735.25'
 ' 37.0' ' 67.0' ' 715.6' ' 205.25' ' 1709.0' ' 9.45' ' 182.0' ' 5.95'
 ' 56.5' ' 583.55' ' 280.8' ' 39.0' ' 44.25' ' 124.05' ' 807.8' ' 399.0'
 ' 150.8' ' 86.3' ' 3.6' ' 6.25' ' 6.3' ' 112.1' ' 294.7' ' 25.05'
 ' 522.05' ' 573.0' ' 1452.4' ' 4.2' ' 34.25' ' 177.85']
-------------------------------------------------------------------
columns name:- prev-close
*******************
[' 200.0' ' 0.15' ' 0.4' ... ' 1884.9' ' 3724.35' ' 566.1']
-------------------------------------------------------------------
columns name:- ltp
*******************
[' 200.0' ' 0.15' ' 0.35' ... ' 1452.4' ' 177.85' ' 78.15']
-------------------------------------------------------------------
columns name:- atp
*******************
[' 200.0' ' 0.0' ' 153.16' ' 31.42' ' 15.0' ' 2.4' ' 18.35' ' 42.22'
 ' 49.33' ' 140.6' ' 195.15' ' 266.02' ' 35.1' ' 791.0' ' 493.95' ' 366.4'
 ' 236.01' ' 158.17' ' 106.18' ' 88.13' ' 57.15' ' 34.7' ' 18.36' ' 12.92'
 ' 9.32' ' 7.25' ' 593.41' ' 61.5' ' 94.0' ' 203.85' ' 131.65' ' 44.24'
 ' 8.0' ' 2.7' ' 129.34' ' 87.8' ' 45.19' ' 4.52' ' 24.27' ' 89.57'
 ' 78.42' ' 2.3' ' 160.55' ' 13.12' ' 3919.98' ' 518.45' ' 299.42'
 ' 83.03' ' 15.32' ' 3.2' ' 3.15' ' 49.75' ' 7.02' ' 190.02' ' 168.82'
 ' 410.41' ' 20428.04' ' 134.27' ' 485.2' ' 15.25' ' 166.99' ' 40.0'
 ' 499.69' ' 185.0' ' 69.68' ' 5.8' ' 42.0' ' 148.07' ' 2396.86' ' 384.63'
 ' 188.1' ' 113.37' ' 26.0' ' 230.41' ' 36.1' ' 26.64' ' 1.1' ' 0.05'
 ' 11.1' ' 153.32' ' 170.56' ' 211.6' ' 180.39' ' 235.25' ' 153.83'
 ' 131.89' ' 112.47' ' 95.35' ' 79.1' ' 66.02' ' 55.13' ' 2.55' ' 2.9'
 ' 4.4' ' 6.26' ' 150.0' ' 160.5' ' 321.0' ' 194.55' ' 310.0' ' 1135.0'
 ' 152.12' ' 185.69' ' 225.17' ' 246.48' ' 190.12' ' 145.11' ' 108.71'
 ' 233.25' ' 92.2' ' 67.27' ' 242.72' ' 46.98' ' 327.62' ' 300.6'
 ' 168.37' ' 24.1' ' 314.89' ' 92.93' ' 216.89' ' 340.36' ' 64.34'
 ' 274.95' ' 29.0' ' 11.38' ' 17.4' ' 8.25' ' 176.96' ' 196.44' ' 222.0'
 ' 38.05' ' 70.0' ' 100.0' ' 259.0' ' 140.0' ' 1770.4' ' 2485.5'
 ' 3882.97' ' 1420.0' ' 1566.01' ' 747.92' ' 155.0' ' 2565.02' ' 104.97'
 ' 5.5' ' 9.1' ' 13.79' ' 17.2' ' 21.35' ' 29.91' ' 32.99' ' 149.0'
 ' 1133.58' ' 638.95' ' 149.6' ' 5.02' ' 499.17' ' 10.1' ' 11.35' ' 32.5'
 ' 22.4' ' 21.55' ' 12.9' ' 8.3' ' 433.0' ' 60.82' ' 442.15' ' 5627.49'
 ' 1687.6' ' 3919.99' ' 3201.25' ' 5.4' ' 267.4' ' 2397.4' ' 1079.83'
 ' 234.64' ' 352.69' ' 134.57' ' 7.8' ' 8.75' ' 14.0' ' 14.72' ' 18.13'
 ' 24.54' ' 31.73' ' 42.8' ' 54.48' ' 73.49' ' 112.42' ' 160.17' ' 209.73'

In [20]:
data

,token_number,timestamp,time_entry,volume,open,high,low,prev-close,ltp,atp
0,36687,2023-12-01 08:00:33,2023-12-01 09:14:56,21850,200.0,200.0,200.0,200.0,200.0,200.0
1,36687,2023-12-01 08:15:34,2023-12-01 09:14:56,22800,200.0,200.0,200.0,200.0,200.0,200.0
2,36690,2023-12-01 08:00:34,2023-12-01 09:14:56,21850,200.0,200.0,200.0,200.0,200.0,200.0
3,36690,2023-12-01 08:15:35,2023-12-01 09:14:56,22800,200.0,200.0,200.0,200.0,200.0,200.0
4,36691,2023-12-01 08:00:35,2023-12-01 09:14:56,21850,200.0,200.0,200.0,200.0,200.0,200.0
...,...,...,...,...,...,...,...,...,...,...
9995,12917,2023-12-01 09:15:02,2023-12-01 09:15:03,6300,70.0,82.0,70.0,51.2,78.15,76.36
9996,12918,2023-11-30 15:27:00,2023-12-01 09:15:03,0,0.0,0.0,0.0,347.55,347.35,0.0
9997,12918,2023-11-30 15:29:57,2023-12-01 09:15:03,0,0.0,0.0,0.0,28.95,26.05,0.0
9998,12918,2023-12-01 09:15:03,2023-12-01 09:15:03,1800,35.1,35.15,35.1,24.6,35.1,35.1
9999,12919,1980-01-01 00:00:00,2023-12-01 09:15:03,0,0.0,0.0,0.0,961.4,0.0,0.0

In [ ]:
file_path = data_path[1]

In [ ]:
with open (file_path , 'r') as file:
    content = file.read()
    lines = content.strip().split('\n')
    lines = [line.replace("Received: " , '') for line in lines]
    data = [literal_eval(line) for line in lines]
    flat_list = [item for sublist in data for item in sublist]
    df = pd.DataFrame(flat_list)

In [ ]:
df

In [22]:
contract = data_path[0]

In [23]:
contract

'D:\\option_data\\data\\contract.txt'

In [24]:
df = pd.read_csv(contract)

In [25]:
df.rename(columns={'NEATFO|7.0.4|' : 'Details'},inplace = True)

In [26]:
df

                                                  Details
0       35000|26074|OPTIDX|MIDCPNIFTY|XX||1386167400|1...
1       35001|26074|OPTIDX|MIDCPNIFTY|XX||1386167400|1...
2       35002|26009|OPTIDX|BANKNIFTY|XX||1386340200|49...
3       35003|26009|OPTIDX|BANKNIFTY|XX||1386340200|49...
4       35004|26009|OPTIDX|BANKNIFTY|XX||1388241000|49...
...                                                   ...
154912  190036|7929|OPTSTK|ZYDUSLIFE|XX||1388241000|85...
154913  190037|7929|OPTSTK|ZYDUSLIFE|XX||1388241000|86...
154914  190038|7929|OPTSTK|ZYDUSLIFE|XX||1388241000|86...
154915  190039|7929|OPTSTK|ZYDUSLIFE|XX||1388241000|86...
154916  190040|7929|OPTSTK|ZYDUSLIFE|XX||1388241000|86...

[154917 rows x 1 columns]

In [27]:
df['Details'][1]

'35001|26074|OPTIDX|MIDCPNIFTY|XX||1386167400|1035000|PE|1|0|1|0|0|2|1||2|0||2|0||3|0||1384041600|0|1386167400|0|75|75|5|1.000000E+12|4.201000E+03|0|1384041600|0|0|0|0|0|34035|97565|0|0|0|1385832961|1386115200|1386167400|15|1|            |MIDCPNIFTY23D0410350PE|0|0|0|0||E|N|N|N|C|N|||65800|N'

In [28]:
df['token_number'] = df['Details'].apply(lambda x: x.split('|')[0])

In [29]:
df['instrument_type'] = df['Details'].apply(lambda x: x.split('|')[2])

In [30]:
df['symbol_name'] =df['Details'].apply(lambda x: x.split('|')[3])

In [31]:
df['option_type'] =df['Details'].apply(lambda x: x.split('|')[8])

In [32]:
df['strike_price_exp'] =df['Details'].apply(lambda x: x.split('|')[53])

In [33]:
df

,Details,token_number,instrument_type,symbol_name,option_type,strike_price_exp
0,35000|26074|OPTIDX|MIDCPNIFTY|XX||1386167400|1...,35000,OPTIDX,MIDCPNIFTY,CE,MIDCPNIFTY23D0410350CE
1,35001|26074|OPTIDX|MIDCPNIFTY|XX||1386167400|1...,35001,OPTIDX,MIDCPNIFTY,PE,MIDCPNIFTY23D0410350PE
2,35002|26009|OPTIDX|BANKNIFTY|XX||1386340200|49...,35002,OPTIDX,BANKNIFTY,CE,BANKNIFTY23D0649300CE
3,35003|26009|OPTIDX|BANKNIFTY|XX||1386340200|49...,35003,OPTIDX,BANKNIFTY,PE,BANKNIFTY23D0649300PE
4,35004|26009|OPTIDX|BANKNIFTY|XX||1388241000|49...,35004,OPTIDX,BANKNIFTY,CE,BANKNIFTY23DEC49400CE
...,...,...,...,...,...,...
154912,190036|7929|OPTSTK|ZYDUSLIFE|XX||1388241000|85...,190036,OPTSTK,ZYDUSLIFE,PE,ZYDUSLIFE23DEC855PE
154913,190037|7929|OPTSTK|ZYDUSLIFE|XX||1388241000|86...,190037,OPTSTK,ZYDUSLIFE,CE,ZYDUSLIFE23DEC860CE
154914,190038|7929|OPTSTK|ZYDUSLIFE|XX||1388241000|86...,190038,OPTSTK,ZYDUSLIFE,PE,ZYDUSLIFE23DEC860PE
154915,190039|7929|OPTSTK|ZYDUSLIFE|XX||1388241000|86...,190039,OPTSTK,ZYDUSLIFE,CE,ZYDUSLIFE23DEC865CE
154916,190040|7929|OPTSTK|ZYDUSLIFE|XX||1388241000|86...,190040,OPTSTK,ZYDUSLIFE,PE,ZYDUSLIFE23DEC865PE

In [34]:
bank_data = df[df['symbol_name'] == 'BANKNIFTY']

In [35]:
example_string = "MIDCPNIFTY23D0410350CE"

In [36]:
bank_data

,Details,token_number,instrument_type,symbol_name,option_type,strike_price_exp
2,35002|26009|OPTIDX|BANKNIFTY|XX||1386340200|49...,35002,OPTIDX,BANKNIFTY,CE,BANKNIFTY23D0649300CE
3,35003|26009|OPTIDX|BANKNIFTY|XX||1386340200|49...,35003,OPTIDX,BANKNIFTY,PE,BANKNIFTY23D0649300PE
4,35004|26009|OPTIDX|BANKNIFTY|XX||1388241000|49...,35004,OPTIDX,BANKNIFTY,CE,BANKNIFTY23DEC49400CE
5,35005|26009|OPTIDX|BANKNIFTY|XX||1388241000|49...,35005,OPTIDX,BANKNIFTY,PE,BANKNIFTY23DEC49400PE
6,35006|26009|OPTIDX|BANKNIFTY|XX||1390660200|47...,35006,OPTIDX,BANKNIFTY,CE,BANKNIFTY24JAN47400CE
...,...,...,...,...,...,...
37323,72323|26009|OPTIDX|BANKNIFTY|XX||1393684200|55...,72323,OPTIDX,BANKNIFTY,PE,BANKNIFTY24FEB55500PE
37324,72324|26009|OPTIDX|BANKNIFTY|XX||1393684200|56...,72324,OPTIDX,BANKNIFTY,CE,BANKNIFTY24FEB56000CE
37325,72325|26009|OPTIDX|BANKNIFTY|XX||1393684200|56...,72325,OPTIDX,BANKNIFTY,PE,BANKNIFTY24FEB56000PE
37338,72338|26009|OPTIDX|BANKNIFTY|XX||1393684200|56...,72338,OPTIDX,BANKNIFTY,CE,BANKNIFTY24FEB56500CE
37339,72339|26009|OPTIDX|BANKNIFTY|XX||1393684200|56...,72339,OPTIDX,BANKNIFTY,PE,BANKNIFTY24FEB56500PE

In [37]:
bank_data['index_name'] = bank_data['strike_price_exp'].apply(lambda x: x[:9])

In [38]:
bank_data['expiry']=bank_data['strike_price_exp'].apply(lambda x: x[9:14])

In [39]:
bank_data['strike_price'] = bank_data['strike_price_exp'].apply(lambda x: x[14:19])

In [40]:
bank_data['option_types'] = bank_data['strike_price_exp'].apply(lambda x: x[19:])

In [41]:
bank_data = bank_data.reset_index(drop="Frist")

In [42]:
bank_data

,Details,token_number,instrument_type,symbol_name,option_type,strike_price_exp,index_name,expiry,strike_price,option_types
0,35002|26009|OPTIDX|BANKNIFTY|XX||1386340200|49...,35002,OPTIDX,BANKNIFTY,CE,BANKNIFTY23D0649300CE,BANKNIFTY,23D06,49300,CE
1,35003|26009|OPTIDX|BANKNIFTY|XX||1386340200|49...,35003,OPTIDX,BANKNIFTY,PE,BANKNIFTY23D0649300PE,BANKNIFTY,23D06,49300,PE
2,35004|26009|OPTIDX|BANKNIFTY|XX||1388241000|49...,35004,OPTIDX,BANKNIFTY,CE,BANKNIFTY23DEC49400CE,BANKNIFTY,23DEC,49400,CE
3,35005|26009|OPTIDX|BANKNIFTY|XX||1388241000|49...,35005,OPTIDX,BANKNIFTY,PE,BANKNIFTY23DEC49400PE,BANKNIFTY,23DEC,49400,PE
4,35006|26009|OPTIDX|BANKNIFTY|XX||1390660200|47...,35006,OPTIDX,BANKNIFTY,CE,BANKNIFTY24JAN47400CE,BANKNIFTY,24JAN,47400,CE
...,...,...,...,...,...,...,...,...,...,...
2162,72323|26009|OPTIDX|BANKNIFTY|XX||1393684200|55...,72323,OPTIDX,BANKNIFTY,PE,BANKNIFTY24FEB55500PE,BANKNIFTY,24FEB,55500,PE
2163,72324|26009|OPTIDX|BANKNIFTY|XX||1393684200|56...,72324,OPTIDX,BANKNIFTY,CE,BANKNIFTY24FEB56000CE,BANKNIFTY,24FEB,56000,CE
2164,72325|26009|OPTIDX|BANKNIFTY|XX||1393684200|56...,72325,OPTIDX,BANKNIFTY,PE,BANKNIFTY24FEB56000PE,BANKNIFTY,24FEB,56000,PE
2165,72338|26009|OPTIDX|BANKNIFTY|XX||1393684200|56...,72338,OPTIDX,BANKNIFTY,CE,BANKNIFTY24FEB56500CE,BANKNIFTY,24FEB,56500,CE
2166,72339|26009|OPTIDX|BANKNIFTY|XX||1393684200|56...,72339,OPTIDX,BANKNIFTY,PE,BANKNIFTY24FEB56500PE,BANKNIFTY,24FEB,56500,PE

In [43]:
bank_data.drop(['Details' , 'symbol_name' , 'strike_price_exp' , 'option_type'],axis=1 , inplace=True)

In [44]:
#bank_data.to_csv('token_number_with_strike_price_banknifty' , index = False)

In [45]:
# create Nifty token number and strike price
nifty_data = df[df['symbol_name'] == 'NIFTY'].reset_index(drop = 'Frist')

In [46]:
nifty_data

,Details,token_number,instrument_type,symbol_name,option_type,strike_price_exp
0,35054|26000|OPTIDX|NIFTY|XX||1390660200|219000...,35054,OPTIDX,NIFTY,CE,NIFTY24JAN21900CE
1,35055|26000|OPTIDX|NIFTY|XX||1390660200|219000...,35055,OPTIDX,NIFTY,PE,NIFTY24JAN21900PE
2,35061|26000|OPTIDX|NIFTY|XX||1390660200|219500...,35061,OPTIDX,NIFTY,CE,NIFTY24JAN21950CE
3,35062|26000|OPTIDX|NIFTY|XX||1390660200|219500...,35062,OPTIDX,NIFTY,PE,NIFTY24JAN21950PE
4,35067|26000|OPTIDX|NIFTY|XX||1388845800|168000...,35067,OPTIDX,NIFTY,CE,NIFTY2410416800CE
...,...,...,...,...,...,...
2419,86164|26000|OPTIDX|NIFTY|XX||1530369000|270000...,86164,OPTIDX,NIFTY,PE,NIFTY28JUN27000PE
2420,86165|26000|OPTIDX|NIFTY|XX||1530369000|280000...,86165,OPTIDX,NIFTY,CE,NIFTY28JUN28000CE
2421,86166|26000|OPTIDX|NIFTY|XX||1530369000|280000...,86166,OPTIDX,NIFTY,PE,NIFTY28JUN28000PE
2422,86167|26000|OPTIDX|NIFTY|XX||1530369000|290000...,86167,OPTIDX,NIFTY,CE,NIFTY28JUN29000CE
2423,86168|26000|OPTIDX|NIFTY|XX||1530369000|290000...,86168,OPTIDX,NIFTY,PE,NIFTY28JUN29000PE

In [47]:
nifty_data['symbol'] = nifty_data['strike_price_exp'].apply(lambda x: x[:5])

In [48]:
nifty_data['expiry'] = nifty_data['strike_price_exp'].apply(lambda x: x[5:10])

In [49]:
nifty_data['strike_price'] = nifty_data['strike_price_exp'].apply(lambda x: x[10:15])

In [50]:
nifty_data['option_types'] = nifty_data['strike_price_exp'].apply(lambda x: x[15:])

In [51]:
nifty_data

,Details,token_number,instrument_type,symbol_name,option_type,strike_price_exp,symbol,expiry,strike_price,option_types
0,35054|26000|OPTIDX|NIFTY|XX||1390660200|219000...,35054,OPTIDX,NIFTY,CE,NIFTY24JAN21900CE,NIFTY,24JAN,21900,CE
1,35055|26000|OPTIDX|NIFTY|XX||1390660200|219000...,35055,OPTIDX,NIFTY,PE,NIFTY24JAN21900PE,NIFTY,24JAN,21900,PE
2,35061|26000|OPTIDX|NIFTY|XX||1390660200|219500...,35061,OPTIDX,NIFTY,CE,NIFTY24JAN21950CE,NIFTY,24JAN,21950,CE
3,35062|26000|OPTIDX|NIFTY|XX||1390660200|219500...,35062,OPTIDX,NIFTY,PE,NIFTY24JAN21950PE,NIFTY,24JAN,21950,PE
4,35067|26000|OPTIDX|NIFTY|XX||1388845800|168000...,35067,OPTIDX,NIFTY,CE,NIFTY2410416800CE,NIFTY,24104,16800,CE
...,...,...,...,...,...,...,...,...,...,...
2419,86164|26000|OPTIDX|NIFTY|XX||1530369000|270000...,86164,OPTIDX,NIFTY,PE,NIFTY28JUN27000PE,NIFTY,28JUN,27000,PE
2420,86165|26000|OPTIDX|NIFTY|XX||1530369000|280000...,86165,OPTIDX,NIFTY,CE,NIFTY28JUN28000CE,NIFTY,28JUN,28000,CE
2421,86166|26000|OPTIDX|NIFTY|XX||1530369000|280000...,86166,OPTIDX,NIFTY,PE,NIFTY28JUN28000PE,NIFTY,28JUN,28000,PE
2422,86167|26000|OPTIDX|NIFTY|XX||1530369000|290000...,86167,OPTIDX,NIFTY,CE,NIFTY28JUN29000CE,NIFTY,28JUN,29000,CE
2423,86168|26000|OPTIDX|NIFTY|XX||1530369000|290000...,86168,OPTIDX,NIFTY,PE,NIFTY28JUN29000PE,NIFTY,28JUN,29000,PE

In [52]:
nifty_data.drop(['Details' , 'symbol_name' , 'strike_price_exp' , 'option_type'],axis=1 , inplace=True)

In [53]:
#nifty_data.to_csv('token_number_with_strike_price_nifty' , index = False)

In [54]:
bank_data

     token_number instrument_type index_name expiry strike_price option_types
0           35002          OPTIDX  BANKNIFTY  23D06        49300           CE
1           35003          OPTIDX  BANKNIFTY  23D06        49300           PE
2           35004          OPTIDX  BANKNIFTY  23DEC        49400           CE
3           35005          OPTIDX  BANKNIFTY  23DEC        49400           PE
4           35006          OPTIDX  BANKNIFTY  24JAN        47400           CE
...           ...             ...        ...    ...          ...          ...
2162        72323          OPTIDX  BANKNIFTY  24FEB        55500           PE
2163        72324          OPTIDX  BANKNIFTY  24FEB        56000           CE
2164        72325          OPTIDX  BANKNIFTY  24FEB        56000           PE
2165        72338          OPTIDX  BANKNIFTY  24FEB        56500           CE
2166        72339          OPTIDX  BANKNIFTY  24FEB        56500           PE

[2167 rows x 6 columns]

In [55]:
nifty_data

     token_number instrument_type symbol expiry strike_price option_types
0           35054          OPTIDX  NIFTY  24JAN        21900           CE
1           35055          OPTIDX  NIFTY  24JAN        21900           PE
2           35061          OPTIDX  NIFTY  24JAN        21950           CE
3           35062          OPTIDX  NIFTY  24JAN        21950           PE
4           35067          OPTIDX  NIFTY  24104        16800           CE
...           ...             ...    ...    ...          ...          ...
2419        86164          OPTIDX  NIFTY  28JUN        27000           PE
2420        86165          OPTIDX  NIFTY  28JUN        28000           CE
2421        86166          OPTIDX  NIFTY  28JUN        28000           PE
2422        86167          OPTIDX  NIFTY  28JUN        29000           CE
2423        86168          OPTIDX  NIFTY  28JUN        29000           PE

[2424 rows x 6 columns]